body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color:white;
}


.input {
  padding: 4px;
  margin: 20px;
}

.card {
  display: inline-block; 
  width: 21%;
  margin: 10px 5px auto;
  padding: 20px;
  background-color: #124E78;
  color: white;
  text-align: left;
  border-radius: 10px;
  transition-duration: 0.3s;
  transition-property: transform, background-color, box-shadow;
}

.card:hover {
  background-color: #2778b1;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.589);
  transform: scale(1.03)
}


.card-content {
  display: inline-block;
  margin: 10px;
}

.pics {
  border-radius: 50%;
  transition-duration: 0.3s;
  transition-property: transform, box-shadow;
}

.pics:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.418)
}

